<div class="apx_responsive-baner">
  <div class="<%= opt.container %>">
    <div class="<%= opt.padding %>">
      <%- await include('@/sections/inc/apx_banner', { _, opt }) %>
    </div>
  </div>
</div>
